@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  font-family: "PT Sans";
  text-align: center;
}

/* Header */

header {
  margin: 0;
  margin-bottom: 10px;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.header-logo,
.header-navigation,
.header-misc {
  display: inline-block;
  vertical-align: middle;
}

.header-logo {
  text-align: left;
  margin-right: 230px;
}

.header-misc {
  text-align: right;
}

.header-navigation {
  text-align: center;
  margin-right: 260px;
}

.header-navigation li,
.header-misc li {
  display: inline-block;
  vertical-align: middle;
}

.header-navigation li {
  margin-left: 36px;
}
.header-misc li {
  margin-left: 12px;
}

.header-misc {
  display: inline-block;
  vertical-align: middle;
}

.header-navigation-link {
  display: inline-block;
  color: #3d3d3d;
  padding: 25px 0;
  border-bottom: 2px solid transparent;
}

.header-navigation-link:hover,
.header-navigation-link:focus-visible {
  border-bottom: 2px solid green;
  font-weight: 700;
}

.header-navigation-button {
  margin-right: 30px;
  background-color: white;
}

.header-misc img {
  display: inline-block;
  vertical-align: middle;
}

.icon-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  border-radius: 6px;
  text-decoration: none;
}

.login-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  line-height: 35px;

  width: 100px;
  height: 35px;

  background-color: #46a358;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.login-button:hover {
  outline: 2px solid #2c7a40;
  outline-offset: 2px;
}

/* Main Body */

main {
  margin: 0;
  margin-bottom: 10px;
}

.main-body {
  width: 1200px;
  height: 450px;
  display: inline-block;
  text-align: center;
  font-size: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(245, 245, 245, 0),
    rgba(245, 245, 245, 1)
  );
}

.main-body-inner {
  width: 600px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0;
  height: 100%;
}

.main-body-inner-text {
  color: #3d3d3d;
  /* padding-right: 140px; */
  text-align: left;
}

.main-body-welcome-title {
  font-size: 14px;
  /* font-weight: 500; */
  font-weight: 400;
  margin-top: 68px;
  margin-left: 43px;
}

.main-body-better-planet-title {
  font-size: 70px;
  font-weight: 900;
  color: #3d3d3d;
  margin-top: 7px;
  margin-left: 40px;
}

#planet {
  color: #46a358;
}

.main-body-inner-text p {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  margin-top: 5px;
  margin-left: 43px;
}

.shop-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  line-height: 35px;

  width: 100px;
  height: 35px;

  background-color: #46a358;
  border-radius: 6px;
  color: white;
  text-decoration: none;

  margin-top: 44px;
  margin-left: 41px;
}

.shop-button:hover {
  outline: 2px solid #2c7a40;
  outline-offset: 2px;
}
