html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container-background {
  width: 100%;
  height: 100%;
  background-color: rgb(132, 232, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inner {
  width: 300px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-payment {
  display: flex;
  margin-top: 10px;
}

.image-avatar {
  width: 100px;
  margin: 0;
}

.ulist-avatar {
  list-style-type: none;
  padding: 0;
}

.container-form {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.container-input {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.input-text {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border-width: 0px;
  box-shadow: 1px 1px 10px 1px rgb(158, 158, 158);
}

.input-cc {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border-width: 0px;
  box-shadow: 1px 1px 10px 1px rgb(158, 158, 158);
  background-color: rgb(226, 224, 234);
}

.container-input-horizontal {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin: 0;
  margin-top: 2px;
  font-weight: bold;
  unicode-bidi: isolate;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}

.button-confirm {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border-width: 0px;
  background-color: rgb(71, 123, 226);
  color: aliceblue;
}

.text-bottom {
  font-size: 8pt;
  opacity: 60%;
}

.container-input-bottom {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
